body {
	font: 150% Arial, Helvetica, sans-serif;
}
/* 150% do tamanho original "pai"  */
p { margin-left: 20px; }

h1, h2, h3, h4 {
	font: bold 100% Arial, Helvetica, sans-serif;
    text-align: center;
}

#pagina {
	padding: 0px;
	width: 960px; /* tamanho mais comum usado */
	margin: 30px auto;
	background: rgba(0, 0, 0, 0);
	
}

#cabecalho {
	height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
	background: #ffffffd3; 
}

#conteudo {
	width: 99.9%;
	float: left;
    background: #ffffff7c;
}

#rodape {
	clear: both;
	background: #ffffff7c;
}

#demo {
	background-color: #f80808;
	background-image: none;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 100% 50%;
}

#cabecalho, #conteudo, #lateral {
	margin-bottom: 10px;
}

	
#cabecalho, #conteudo, #lateral, #rodape {
	border: 2px inset #c90abc56;
	border-radius: 0px 20px 0px 20px;
}


/* Media queries/* 

/*  980px ou menor */
@media screen and (max-width: 980px) {
	
	#pagina {
		width: 94%;
	}
	#conteudo {
		width: 65%;
	}
	#lateral {
		width: 30%;
	}

}

/* 700px ou menor  */
@media screen and (max-width: 700px) {

	#conteudo {
		width: auto;
		float: none;
	}
	#lateral {
		width: auto;
		float: none;
	}

}

/*  480px or menor  */
@media screen and (max-width: 480px) {

	#cabecalho {
		height: auto;
	}
	h1 {
		font-size: 24px;
	}
	#lateral { /* nao mostra a lateral */
		display: none;
	}

}
